

/* PRODIADES DE INDEX.HTML */

/* MENU NAV BOOSTRAP */
#header p{
    text-align: center;
    color: white;
}

body {
    font-family: sans-serif;
}

#menu a{
    font-size: 18px;
    font-weight: lighter;
    color: rgb(0, 0, 0);
}

/* MEDIA QUERY */

@media (max-width:768px) {
    #experiencia{
        width:90% !important;
    }
}


/* PRODIADES DE CARACTERISTICAS.HTML */